.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.modal-container {
  width: 36.875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 2.5rem;
  color: var(--color-rose-900);
  border-radius: 0.75rem;
  background-color: var(--color-rose-0);
}

.modal[open] {
  animation: slide-in-from-top 0.45s ease-out;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.modal > img {
  display: block;
}

.modal-title {
  margin-bottom: -0.875rem;
  font-size: 2rem;
  font-weight: 700;
}

.modal-desc {
  display: block;
  color: var(--color-rose-500);
}

.modal-list {
  align-self: stretch;
  padding: 1.5rem;
  border-radius: 0.75rem;
  background-color: var(--color-rose-50);
}

.modal-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 0.875rem 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-rose-100);
}

.modal-item:nth-child(1) {
  padding-top: 0;
  padding-bottom: 1rem;
}

.modal-name {
  font-weight: 600;
}

.modal-info {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  font-size: 0.875rem;
}

.modal-quantity {
  color: var(--color-red);
  font-weight: 600;
}

.modal-price {
  color: var(--color-rose-500);
}

.modal-total {
  grid-column: 3 / -1;
  grid-row: 1 / -1;
  font-weight: 600;
}

.modal-item > img {
  width: 3rem;
  display: block;
  grid-row: 1 / -1;
  aspect-ratio: 1;
  border-radius: 0.25rem;
}

.modal-final {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.final-total {
  font-size: 1.5rem;
  font-weight: 700;
}

.modal-container > form {
  align-self: stretch;
}

@keyframes slide-in-from-top {
  0% {
    transform: translate(-50%, -75%);
    opacity: 0;
  }
  100% {
    transform: translateY(-50%, -50%);
    opacity: 1;
  }
}
